doctype html
html.h-100(lang="en")
  head
    title= Title
    // script(src=assetPath('main.css'))
    script.
      var gon = !{JSON.stringify(gon)};
  body.d-flex.flex-column.h-100.bg-secondary
    .container.h-100.overflow-hidden.my-3.border.pt-4.px-3.bg-white
      .h-100#chat
      // block content
    script(src=assetPath('main.js'))
